/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif, Helvetica, sans-serif;
}

/* Contenedor principal */
.main-container {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
  grid-auto-rows: minmax(300px, auto);
  padding: 20px 0;
  background-color: rgb(0, 0, 0);
}

/* Contenido izquierdo */
.left-content {
  min-height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #020000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Slogan del contenido izquierdo */
.left-content-slogan {
  text-align: center;
  color: #f6f6f6;
  font-weight: bold;
  font-size: 2.0rem;
}

/* Contenido derecho */
.right-content {
  box-sizing: border-box;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carrusel */
.carousel {
  width: 100%;
  min-height: 100px;
  background-color: #141412;
}

/* Contenedor de tarjetas */
.card-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Tarjeta */
.card {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background-color: #f6f6f6;
  border: 1px solid #070707;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Imagen de la tarjeta */
.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

/* Título de la tarjeta */
.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
}

/* Texto de la tarjeta */
.card-text {
  text-align: justify;
}

/* Lista de grupos */
.list-group {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Enlace de la tarjeta */
.card-link {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Botón de unirse */
.join-button {
  margin-top: 30px;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.join-button:hover {
  background-color: #17731c;
  color: rgb(0, 0, 0);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

@media screen and (max-width:790px) {
  .left-content-slogan {
    font-size: 30px !important;
  }

  .main-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
