<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GRIINVEST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/allproyectos">Proyectos</a>
        </li>
      </ul>
      <form class="d-flex">

        <!-- Mostrar enlaces de acuerdo con el rol -->
        <ng-container *ngIf="userRole === 'administrador'">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Panel de Administración
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/addusuario">Agregar Usuario</a>
              <a class="dropdown-item" routerLink="/usuario">Listar Usuarios</a>
              <a class="dropdown-item" routerLink="/proyecto">Listar Proyectos</a>
              <a class="dropdown-item" routerLink="/inversion">Listar Inversión</a>
              <a class="dropdown-item" routerLink="/mensaje">Mis Mensajes</a>
              <a class="dropdown-item" routerLink="/addmensaje">Enviar Mensajes</a>
              <a class="dropdown-item" routerLink="/administracion">Administración</a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="userRole === 'moderador'">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Panel de Moderación
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/proyecto">Aprobar Proyectos</a>
              <a class="dropdown-item" routerLink="/Mensajes">Mis Mensajes</a>
              <a class="dropdown-item" routerLink="/administracion">Administración</a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="userRole === 'emprendedor'">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Panel de Emprendedores
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/addproyecto">Publicar Proyecto</a>
              <a class="dropdown-item" routerLink="/proyecto">Listar Proyectos</a>
              <a class="dropdown-item" routerLink="/mensaje">Mis Mensajes</a>
              <a class="dropdown-item" routerLink="/administracion">Administración</a>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="userRole === 'inversionista'">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Panel de Inversionistas
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/addinversion">Agregar Inversión</a>
              <a class="dropdown-item" routerLink="/inversion">Listar Inversión</a>
              <a class="dropdown-item" routerLink="/addmensaje">Enviar Mensaje</a>
              <a class="dropdown-item" routerLink="/administracion">Administración</a>
            </div>
          </div>
        </ng-container>
        <!-- Mostrar el botón "Cerrar Sesión" solo si la sesión está iniciada -->
        <ng-container *ngIf="isLoggedIn()">
          <a class="btn btn-outline-danger ms-3 me-3" (click)="cerrarSesion()">Cerrar Sesión</a>
        </ng-container>
        <!-- Ocultar los botones "Iniciar Sesión" y "Registrarse" si la sesión está iniciada -->
        <ng-container *ngIf="!isLoggedIn()">
          <a class="btn btn-outline-success me-3" routerLink="/login">Iniciar Sesión</a>
          <a class="btn btn-outline-success" routerLink="/registro">Registrarse</a>
        </ng-container>
      </form>
    </div>
  </div>
</nav>








