<div class="cabecera">
  <img class="img" src="../../../assets/images/cabecera.png" alt="Logo" height="120px">
</div>

<div class="main">
  <div class="grid-3">
    <div class="card" *ngFor="let proyecto of proyectos">

      <img [src]="proyecto.logoProyecto" class="card-img-top" alt="Card Image">
      <div class="card-body">
        <h5 class="card-title">{{ proyecto.nombreProyecto }}</h5>
        <p class="card-text">{{ proyecto.resumenProyecto }}</p>
      </div>
      <div class="inside">
        <div class="list-group-item">
          <div class="mini">Porcentaje de financiamiento</div>
        </div>
        <div class="list-group-item">
          <div class="progress-bar-full">
            <div class="progress-bar" role="progressbar"
            [style.width.%]="(proyecto.montoAdquirido && proyecto.montoFinanciar) ? (proyecto.montoAdquirido / proyecto.montoFinanciar) * 100 : 0"
            [attr.aria-valuenow]="proyecto.montoAdquirido" aria-valuemin="0"
            [attr.aria-valuemax]="proyecto.montoFinanciar">
            <div class="progress-bar-money">
              $
            </div>
          </div>
          </div>
        </div>

        <div class="big">Valor del Proyecto: <b> {{ proyecto.montoFinanciar }}</b></div><br>
        <div>
          <div>Autor:</div>
          <p class="big"><b>{{ usuariosCargados ? obtenerNombreUsuario(proyecto?.idUsuario || 0) : 'Cargando...' }}</b></p>
        </div>

      </div>
      <div class="card-body">
        <a class="btn btn-outline-success me-3" routerLink="/addinversion">Invertir</a>
        <a class="btn btn-outline-success me-3" routerLink="/addmensaje">Contactar</a>
      </div>
    </div>
  </div>
</div>
