<div class="cabecera">
  <img class="img" src="../../../assets/images/cabecera.png" alt="Logo" height="120px">
</div>

<div class="main">
  <div class="section">
    <div class="form">
      <h1>AGREGAR MENSAJE</h1>
      <form [formGroup]="mensajeForm" (ngSubmit)="agregarMensaje()">
        <div class="mb-3 d-flex align-items-center">
          <label for="contenidoMensaje" class="form-label">Contenido del Mensaje:</label>
          <input type="text" id="contenidoMensaje" name="contenidoMensaje" class="form-control custom-input"
            formControlName="contenidoMensaje">
        </div>
        <div
          *ngIf="mensajeForm?.get('contenidoMensaje')?.touched && mensajeForm?.get('contenidoMensaje')?.hasError('required')"
          class="text-danger">
          <strong>El mensaje no puede estar vacío.</strong>
        </div>
        <div class="mb-3 d-flex align-items-center">
          <label for="idUsuarioRecibe" class="form-label me-3">Nombre Usuario:</label>
          <select id="idUsuarioRecibe" name="idUsuarioRecibe" class="form-control custom-input"
            formControlName="idUsuarioRecibe">
            <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">{{ usuario.nombre }}</option>
          </select>
        </div>
        <div
          *ngIf="mensajeForm?.get('idUsuarioRecibe')?.touched && mensajeForm?.get('idUsuarioRecibe')?.hasError('required')"
          class="text-danger">
          <strong>debe escoger un usuario.</strong>
        </div>
        <div class="mb-3"><br><br>
          <button type="button" (click)="agregarMensaje()" class="btn btn-primary btn-long me-3">Enviar</button>
          <button type="button" routerLink="/mensaje" class="btn btn-danger btn-long ml-3">Cancelar</button>
        </div>
      </form>
      <p>{{mensaje}}</p>
    </div>
  </div>
</div>
