<div class="cabecera">
  <img class="img" src="../../../assets/images/cabecera.png" alt="Logo" height="120px">
</div>

<div class="main">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{ proyecto?.nombreProyecto }}</h2>
      <p class="card-text">{{ proyecto?.descripcionProyecto }}</p>
      <p class="card-text">{{ proyecto?.fechaInicio }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Monto a Financiar: {{ proyecto?.montoFinanciar }}</li>
      <li class="list-group-item">Total Invertido: {{ totalInversiones }}</li>
      <li class="list-group-item">
        
        <div class="progress-bar" role="progressbar"
          [style.width.%]="proyecto ? (proyecto.montoAdquirido && proyecto.montoFinanciar ? (proyecto.montoAdquirido / proyecto.montoFinanciar) * 100 : 0) : 0"
          [attr.aria-valuenow]="proyecto ? proyecto.montoAdquirido || 0 : 0" aria-valuemin="0"
          [attr.aria-valuemax]="proyecto ? proyecto.montoFinanciar || 100 : 100"></div>
      </li>
      <li class="list-group-item">
        <a [href]="proyecto?.linkProyecto" target="_blank">{{ proyecto?.linkProyecto }}</a>
      </li>
    </ul>
    <div class="card-body">
      <button type="button" [routerLink]="['/mensaje', proyecto?.idUsuario]" class="btn btn-info">Contactar</button>
      <button type="button" routerLink="/allproyectos" class="btn btn-danger">Volver</button>
    </div>
  </div>
</div>
