.main{
  width: 90%;
  margin: 40px auto;
  text-align: center;

}

.form-label{
  width: 150px;
  text-align: left;
}

h1{
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

h2{
  text-align: center;
}

.footer{
  padding: 30px 0;
  text-align: center;
  font-size: 11px;
  color: #009966;
  background-color: white;
}

.cabecera{
  text-align: left;
  background-color: #009966;
  padding: 10px 0;
}

.cabecera2{
  text-align: left;
  background-color: black;
  padding: 10px 0;
}

.text-danger{
  font-size: 11px;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px;
}

.btn{
  min-width: 100px;
}

.progress-bar
{
  background-color: #009966;
  min-height: 20px;
  padding: 4px 0;

}

.progress-bar-full
{
  background-color:lightgrey;
  min-height: 20px;
  margin-bottom: 20px;
}

.progress-bar-money{
  color: white;
  font-weight: 700;
}

.mini{
  font-size: 14px;
  font-weight: 700;
  color: #009966;
  margin-bottom: 10px;
}

.big{
  font-size: 24px;
  color: #000000;
}

.section{
  max-width: 800px;
  margin: 20px auto;
}

.inside{
  padding: 20px;
  box-sizing: border-box;
}

.columna-left{
  width: 70%;
}

.columna-right{
  width: 25%;
}

@media screen and (max-width: 480px){

  .left-content-slogan {
    font-size: 30px;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    width: 100%;
  }

  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-3 {

    grid-template-columns: repeat(1, 1fr);
  }

  .grid-4 {

    grid-template-columns: repeat(1, 1fr);
  }

  }
