
<div class="container">
  <h2>LISTAR INVERSIONES</h2>
  <div>
    <div>
      <button type="button" routerLink="/addinversion" class="btn btn-secondary mr-3 mb-3">Agregar Inversión</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Monto Inversión</th>
        <th>Fecha Inversión</th>
        <th>ID Usuario</th>
        <th>ID Proyecto</th>
        <th>Fecha Creación</th>
        <th>Fecha Actualización</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inversion of inversiones">
        <td>{{ inversion.idInversion }}</td>
        <td>{{ inversion.montoInversion }}</td>
        <td>{{ inversion.fechaInversion }}</td>
        <td>{{ inversion.idUsuario }}</td>
        <td>{{ inversion.idProyecto }}</td>
        <td>{{ inversion.createAt }}</td>
        <td>{{ inversion.updateAt }}</td>
        <td>
          <button (click)="editarInversion(inversion, contenidoModal)" class="btn btn-sm btn-primary">Editar</button>
          <button (click)="eliminarInversion(inversion.idInversion!)" class="btn btn-sm btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #contenidoModal let-modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Inversión</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="inversionForm">
          <div class="mb-3">
            <label for="montoInversion" class="form-label">Monto Inversión:</label>
            <input type="number" id="montoInversion" formControlName="montoInversion" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="modal.close(inversionForm.value)">Guardar Cambios</button>
      </div>
    </div>
  </div>
</ng-template>
