<div class="cabecera">
  <img class="img" src="../../../assets/images/cabecera.png" alt="Logo" height="120px">
</div>

<div class="main">
  <h1>LISTAR INVERSIONES</h1>
  <div>
    <div>
      <button type="button" routerLink="/addinversion" class="btn btn-secondary mr-3 mb-3">Agregar Inversión</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Monto Inversión</th>
        <th>Usuario</th>
        <th>Proyecto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inversion of inversiones">
        <td>{{ inversion.montoInversion }}</td>
        <td>{{ usuariosCargados ? obtenerNombreUsuario(inversion?.idUsuario || 0) : 'Cargando...' }}</td>
        <td>{{ proyectosCargados ? obtenerNombreProyecto(inversion?.idProyecto || 0) : 'Cargando...' }}</td>
        <td>
          <button (click)="editarInversion(inversion, contenidoModal)" class="btn btn-sm btn-primary me-3">Editar</button>
          <button (click)="eliminarInversion(inversion.idInversion!)" class="btn btn-sm btn-danger ml-3">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #contenidoModal let-modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Inversión</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="inversionForm">
          <div class="mb-3">
            <label for="montoInversion" class="form-label">Monto Inversión:</label>
            <input type="number" id="montoInversion" formControlName="montoInversion" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-3" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-primary ml-3" (click)="modal.close(inversionForm.value)">Guardar Cambios</button>
      </div>
    </div>
  </div>
</ng-template>
