<div class="cabecera">
  <img class="img" src="../../../assets/images/cabecera.png" alt="Logo" height="120px">
</div>

<div class="main">
  <h1>LISTAR USUARIOS</h1>
  <div>
    <div>

      <button type="button" routerLink="/addusuario" class="btn btn-secondary mr-3 mb-3">Agregar Usuario</button>

    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Username</th>
        <th>Correo</th>
        <th>Dirección</th>
        <th>Comuna</th>
        <th>Región</th>
        <th>Rol</th>
        <th>Teléfono</th>
        <th>Fecha Creación</th>
        <th>Fecha Actualización</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.idUsuario }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.direccion }}</td>
        <td>{{ obtenerNombreComuna(usuario.idComuna ?? 0) }}</td>
        <td>{{ obtenerNombreRegion(usuario.idRegion ?? 0) }}</td>
        <td>{{ obtenerNombreRol(usuario.idRol ?? 0) }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.createAt }}</td>
        <td>{{ usuario.updateAt }}</td>
        <td>
          <button (click)="editarUsuario(usuario, contenidoModal)" class="btn btn-sm btn-primary">Editar</button>
          <button (click)="eliminarUsuario(usuario.idUsuario!)" class="btn btn-sm btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #contenidoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">EDITAR USUARIO</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="usuarioForm">
      <div class="mb-3">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-control">
      </div>
      <div class="mb-3">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" formControlName="apellido" class="form-control">
      </div>
      <div class="mb-3">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" class="form-control">
      </div>
      <div class="mb-3">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" formControlName="contrasena" class="form-control">
      </div>
      <div class="mb-3">
        <label for="correo">Correo:</label>
        <input type="email" id="correo" formControlName="correo" class="form-control">
      </div>
      <div class="mb-3">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" formControlName="direccion" class="form-control">
      </div>
      <div class="mb-3">
        <label for="idRegion" class="form-label me-3">Región:</label>
        <select id="idRegion" name="idRegion" class="form-control custom-input" formControlName="idRegion">
          <option value="" selected>Selecciona región</option>
          <option *ngFor="let region of regiones" [value]="region.id">{{ region.nombre }}</option>
        </select>
        <div *ngIf="usuarioForm?.get('idRegion')?.hasError('required') && usuarioForm?.get('idRegion')?.touched"
          class="text-danger">
          <strong>Selecciona una región.</strong>
        </div>
      </div>
      <div class="mb-3">
        <label for="idComuna" class="form-label me-3">Comuna:</label>
        <select id="idComuna" name="idComuna" class="form-control custom-input" formControlName="idComuna">
          <option value="" selected>Selecciona comuna</option>
          <option *ngFor="let comuna of comunas" [value]="comuna.id">{{ comuna.nombre }}</option>
        </select>
        <div *ngIf="usuarioForm?.get('idComuna')?.hasError('required') && usuarioForm?.get('idComuna')?.touched"
          class="text-danger">
          <strong>Selecciona una comuna.</strong>
        </div>
      </div>
      <div class="mb-3">
        <label for="idRol">Rol:</label>
        <select id="idRol" formControlName="idRol" class="form-control">
          <option value="1">Administrador</option>
          <option value="2">Moderador</option>
          <option value="3">Emprendedor</option>
          <option value="4">Inversionista</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary me-3" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary ml-3" (click)="modal.close(usuarioForm.value)">Guardar Cambios</button>
  </div>
</ng-template>
