<div class="container">
  <h2>Listado de Usuarios</h2>
  <form [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">
    <div class="mb-3">
      <label for="idUsuario" class="form-label">ID de Usuario:</label>
      <input type="number" id="idUsuario" name="idUsuario" class="form-control" formControlName="idUsuario">
    </div>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" id="nombre" name="nombre" class="form-control" formControlName="nombre">
    </div>
    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido:</label>
      <input type="text" id="apellido" name="apellido" class="form-control" formControlName="apellido">
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" name="username" class="form-control" formControlName="username">
    </div>
    <div class="mb-3">
      <label for="contrasena" class="form-label">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" class="form-control" formControlName="contrasena">
    </div>
    <div class="mb-3">
      <label for="correo" class="form-label">Correo:</label>
      <input type="email" id="correo" name="correo" class="form-control" formControlName="correo">
    </div>
    <div class="mb-3">
      <label for="direccion" class="form-label">Dirección:</label>
      <input type="text" id="direccion" name="direccion" class="form-control" formControlName="direccion">
    </div>
    <div class="mb-3">
      <label for="idComuna" class="form-label">Comuna:</label>
      <select id="idComuna" name="idComuna" class="form-control" formControlName="idComuna">
        <option value="1">Comuna 1</option>
        <option value="2">Comuna 2</option>
        <option value="3">Comuna 3</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="idRegion" class="form-label">Región:</label>
      <select id="idRegion" name="idRegion" class="form-control" formControlName="idRegion">
        <option value="1">Región 1</option>
        <option value="2">Región 2</option>
        <option value="3">Región 3</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="idRol" class="form-label">Rol:</label>
      <select id="idRol" name="idRol" class="form-control" formControlName="idRol">
        <option value="3">Emprendedor</option>
        <option value="4">Inversionista</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Agregar Usuario</button>
  </form>

  <p>{{mensaje}}</p>
</div>
